body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            color: black;
        }

        .container {
            max-width: 1131px; 
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 3px ; 

        }

        .logo img {
            max-height: 300px; 
            width: auto;
            display: flex ;
            
        }

        .nav {
            
            display: flex;
            gap: 20px;
        }

        .nav a {
            font-weight: bold;
            text-decoration: none;
            color: black;
            font-size: 23px; 
            text-transform: capitalize; 
            cursor: pointer;
        }

        
        .page-content {
            display: flex;
            gap: 50px; 
            align-items: flex-start;
        }

        
        .left-column {
            flex: 0 0 30%; 
            display: flex;
            flex-direction: column;
        }

        .shopping-title {
            font-size: 42px;
            font-weight: 800;
            margin-bottom: px;
            line-height: 1.2;
            margin-left: 50px;
        }

        .list-category {
            font-weight: bold;
            font-size: 26px;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        .shopping-list {
            list-style: none; 
            padding: 0;
            margin: 0;
            font-family: Arial, sans-serif; 
            font-style: bold;
            font-size: 23px;
            color: black;
            line-height: 1;
        }

        .dip-image-container {
            margin-top: 40px;
            text-align: center;
        }

        .dip-image-container img {
            max-width: 80%;
            height: auto;
            
        }

        .quote-box {
            margin-top: 19px;
            font-family: Arial, sans-serif;
            font-size: 34px;
            color: #000;
            line-height: 1.4;
            text-align: center;
        }

        
        .right-column {
            flex: 1; 
        }

        .main-heading {
            text-align: center;
            font-size: 29px;
            font-weight: 800;
            margin-bottom: 20px;
            color: #000;
        }

        .section-text {
            font-family: Arial, sans-serif;
            font-size: 25px;
            line-height: 1.6;
            color: #000;
            text-align: justify;
            margin-bottom: 25px;
        }

        .sub-heading {
            text-align: center;
            font-size: 35px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 15px;
            color: #000;
        }

        .example-box {
            font-family: Arial, sans-serif;
            font-size: 25px;
            line-height: 1.6;
            margin-bottom: 20px;
            text-align: center; 
        }

        .timing-section p {
            font-family: Arial, sans-serif;
            font-size: 25px;
            line-height: 1.6;
            color: black;
            margin-bottom: 15px;
        }

        
        .footer-next {
            text-align: center;
            margin-top: px;
            padding-bottom: 40px;
            cursor: pointer;
        }

        .footer-next h1 {
            font-size: 42px;
            font-weight: 900;
            text-transform: uppercase;
            margin: 0;
        }

        
        @media (max-width: 768px) {
            .page-content {
                flex-direction: column;
            }
            .header {
                flex-direction: column;
                gap: 15px;
            }
            .left-column {
                width: 100%;
                order: 2; 
            }
            .right-column {
                width: 100%;
                order: 1;
            }
        }
    
